# This workflow copy a specific template to the application target repository 

name: Onboarding Workflow
on:
 workflow_dispatch :
    inputs:
        resourceType:
          required: true
          description: Choose resource type (Compute, Network, Application)         
          type: choice
          options: 
           - Compute
           - Network
        depName:
          required: true
          description: Name of departament

jobs:
  create-repository:
    runs-on: ubuntu-latest
    name: Creating Repository
    steps:
      - name: Create Folder
        run: mkdir SantaGib_${{ github.event.inputs.resourceType }}_${{ github.event.inputs.depName }}
      - name: Initialze Repository
        shell: bash
        working-directory: SantaGib_${{ github.event.inputs.resourceType }}_${{ github.event.inputs.depName }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git init
          git add .
          git commit -m "Github Agent | Workflows has updated"
          git remote add origin https://${{ secrets.ORG_ADMIN_TOKEN }}@github.com/gibonurs/SantaGib_${{ github.event.inputs.resourceType }}_${{ github.event.inputs.depName }}.git
          git push
        

